
@media (max-width: 400px) {
  [class*="col-"] {
    width: 100%;
  }
  /*Aquí adaptamos el logo, ya que al estar en un col-, queda al 100% y deforma la pagina*/
  [id*="logo"] {
    width: 50%;
  }
}

@media (max-width: 817px) {
  [class*="col-"] {
    width: 100%;
  }
  [id*="logo"] {
    width: 50%;
  }
}

