/*body{
  background-image: url(../img/tru9y_wg_400x400\ copia.png);
  background-size: 20%;
}*/

.barraRrss {
  background-color: black;
  height: 2.5em;
}

#facebook{
  color: white;
  font-size: 1.5em;
  margin: 1% 0.5% 0.5% 2%;
}

#instagram{
  color: white;
  font-size: 1.5em;
  margin: 0.3em;
}

#twitter{
  color: white;
  font-size: 1.5em;
  margin: 0.3em;
}
.barralogo {
  margin-left: 100%;
  margin-top: 10em; 
}

.menuSuperior {
  width: 25%;
  height: 100%;
  background-color: #FFE521;
  border: 2px solid white;
}
.menuSuperior:hover{
  background-color: #FF009E;
  border: 0.5px solid #FF009E;
  color: white;
  font-weight: bold;
}

 /*Ciudades del menu superior*/
.botonMenu {
  display: block;
  background: none;
  font-family: 'Open Sans';
  margin: 2% 2%;
  cursor: pointer;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
}

/*Input de busqueda*/
#busquedaNombres{
  margin: 0em 1em 2em 1em;
}

#botonBuscar {
  background-color: #FFE521;
  border: 3px solid #FFE521 ;
  border-radius: 2px;
  font-family: 'Open sans';
  cursor: pointer;
}

#botonBuscar:hover{
  background-color: #FF009E;
  border: 1px solid #FF009E;
  color: white;
}
#fondoweb {
  width: 100%;
  opacity: 0.4;
}